# Mainsail Settings
[include mainsail.cfg]
# Specs:
# - SKR 1.4 PRO
# - TMC2209 UART
# - 1.8 stepper on XYZ
# - Physical endstops on XYZ
# - Creality Cr10S Screen
# 
# Link to current version of this config:
# Klipper config reference: https://www.klipper3d.org/Config_Reference.html
# Gcode templates syntax: https://jinja.palletsprojects.com/en/2.10.x/templates/
# Gcode math: https://manual.slic3r.org/advanced/conditional-gcode

[mcu]
# https://www.raspberrypi.org/documentation/configuration/uart.md
# https://github.com/KevinOConnor/klipper/issues/2913
#serial: /dev/ttyAMA0
#restart_method: command
serial:  /dev/serial/by-id/usb-Klipper_lpc1769_23900010E910D595B4E3DA61C32000F5-if00


[printer]
kinematics: cartesian
max_velocity: 360
max_accel: 3000
max_accel_to_decel: 1500
max_z_velocity: 5
max_z_accel: 100
#square_corner_velocity: 5.0

[board_pins]
aliases:
	EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
	EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
	EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
	EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>


# https://github.com/KevinOConnor/klipper/blob/master/docs/Measuring_Resonances.md#bed-slinger-printers
# https://github.com/KevinOConnor/klipper/blob/master/docs/RPi_microcontroller.md
[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None



[input_shaper]
shaper_type_x: 2hump_ei
shaper_freq_x: 55.2
shaper_type_y: mzv
shaper_freq_y: 25.8

##############################
# X/Y Stepper Settings
# https://github.com/KevinOConnor/klipper/blob/master/docs/Rotation_Distance.md
##############################

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
endstop_pin: P1.29
microsteps: 16
rotation_distance: 40
position_endstop: 17.5
position_min: 17.5
position_max: 305
homing_speed: 100
second_homing_speed: 8

[tmc2209 stepper_x]
uart_pin: P1.10
run_current: 1.200
hold_current: 0.950
# https://github.com/KevinOConnor/klipper/issues/1363
stealthchop_threshold: 500

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
endstop_pin: P1.28
microsteps: 16
rotation_distance: 40
position_endstop: 0
position_min: 0
position_max: 300
homing_speed: 100
second_homing_speed: 8

[tmc2209 stepper_y]
uart_pin: P1.9
run_current: 1.200
hold_current: 0.950
# https://github.com/KevinOConnor/klipper/issues/1363
stealthchop_threshold: 500

#####################################################################
# Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
endstop_pin: P1.27
microsteps: 16
rotation_distance: 8
position_endstop: 0
position_min: 0
position_max: 350
homing_speed: 5
homing_retract_speed: 2
homing_retract_dist: 1
second_homing_speed: 0.5

[tmc2209 stepper_z]
uart_pin: P1.8
run_current: 0.650
hold_current: 0.450
# https://github.com/KevinOConnor/klipper/issues/1363
stealthchop_threshold: 500

# https://github.com/KevinOConnor/klipper/blob/master/docs/Endstop_Phase.md
#[endstop_phase stepper_z]
#trigger_phase:29/64

##############################
# Extruder
# Titan Aero
# https://3dprintbeginner.com/rotation-distance-calculator/
# https://github.com/KevinOConnor/klipper/blob/master/docs/Pressure_Advance.md
##############################

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
heater_pin: P2.7
sensor_pin: P0.24
sensor_type: EPCOS 100K B57560G104F
microsteps: 16
rotation_distance: 3.768
nozzle_diameter: 0.400
filament_diameter: 1.750
min_extrude_temp: 160
max_extrude_only_distance: 1000
max_extrude_cross_section: 50.0
min_temp: 0
max_temp: 300
control = pid
pid_kp = 25.213
pid_ki = 0.899
pid_kd = 176.806

[tmc2209 extruder]
uart_pin: P1.4
run_current: 0.800
hold_current: 0.500
# https://github.com/KevinOConnor/klipper/issues/1363
stealthchop_threshold: 5000

##############################
# Bed Heater
##############################

[heater_bed]
heater_pin: P2.5
sensor_pin: P0.25
sensor_type: EPCOS 100K B57560G104F
min_temp: 0
max_temp: 130
control: pid
pid_Kp= 66.39
pid_Ki= 1.020
pid_Kd= 1080.646

##############################
# Fans
# https://github.com/KevinOConnor/klipper/blob/master/docs/Config_Reference.md#fans
##############################

[fan]
pin: P2.3
kick_start_time: 0.500
off_below: 0.25 #for Pengda

[heater_fan extruder_fan]
pin: P2.4
heater_temp: 50.0
#fan_speed: 1.0

##############################
# Probe & Mesh
# https://github.com/KevinOConnor/klipper/blob/master/docs/Manual_Level.md#fine-grained-bed-screw-adjustments
##############################

[bed_screws]
screw1_name: front left screw
screw1: 5,5
screw2_name: front right screw
screw2: 295,5
screw3_name: center screw
screw3: 200,200
screw4_name: rear left screw
screw4: 5,295
screw5_name: rear right screw
screw5: 5,5
horizontal_move_z: 2
probe_height: 0.05
speed: 200
probe_speed: 2

##############################
# Display
##############################

[display]
lcd_type: st7920
cs_pin: EXP1_4
sclk_pin: EXP1_5
sid_pin: EXP1_3
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

[output_pin beeper]
pin: EXP1_1

# [display_data _default_16x4 print_progress]
# position: 2, 0
# text:
#     {% if printer["gcode_macro START_PRINT"].value|default(0, true) == 1 %}
#         { "{:^10.0%}".format(printer.display_status.progress) }
#     {% else %}
#         ----------------
#     {% endif %}
# [display_data _default_16x4 progress_bar]
# position: 2, 1 # Draw graphical progress bar after text is written
# text:
#     {% if printer["gcode_macro START_PRINT"].value|default(0, true) == 1 %}
#         { draw_progress_bar(2, 0, 9, printer.display_status.progress) }
#     {% endif %}

# # Render remaining time taken from M73
# [display_data _default_16x4 printing_time]
# position: 2, 10
# text:
#     {% if printer["gcode_macro START_PRINT"].value|default(0, true) == 1 %}
#         {% set ptime = printer["gcode_macro M73"].r %}
#         { "R%02d:%02d" % (ptime // 60, ptime % 60) }
#     {% endif %}






##############################
# Misc
##############################

[force_move]
enable_force_move: True

[pause_resume]

[respond]

[include /home/pi/klipper-config/macros/*.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 66.399
#*# pid_ki = 1.020
#*# pid_kd = 1080.646
